.cover__subtitle {
    margin: 16px 0 0 0;
    position: absolute;
    top: 50%;
    bottom: auto;
    right: auto;
    left: auto;
    max-width: 360px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    z-index: 3;
}

@media screen and (max-width: 769px) {
    .cover__subtitle {
        margin-top: 8px;
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
    }
}